div.full-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  will-change: transform;
  transition: transform 0.08s linear;

  nav.main-navbar {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    div.left-navbar {
      width: 150px;

      img {
        width: 100%;
      }
    }

    app-search-bar {
      width: 500px;
    }

    div.right-navbar {
      width: 150px;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;

      div.cart {
        i.bi-cart-fill {
          font-size: 25px;
          position: relative;

          span.cart-count {
            position: absolute;
            top: -8px;
            right: -10px;
            background-color: #ff5700;
            color: white;
            border-radius: 50%;
            padding: 0px 6px;
            font-size: 12px;
          }
        }
      }

      div.user-profile {
        position: relative;
        cursor: pointer;
        padding-right: 20px;

        p {
          margin-bottom: 0px;
          padding: 6px 20px;
          background-color: #ffffff;
          color: #1e1e1e;
          border-radius: 24px;
          font-weight: 600;
          font-size: small;
        }

        p:hover {
          background-color: #ff5700;
          transition: ease 0.3s;
          color: #ffffff;
        }

        i.person-lg {
          display: none;
          color: #ffffff;
        }

        div.user-icon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #4c6ef5;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          cursor: pointer;
        }

        .user-dropdown {
          position: absolute;
          top: 55px;
          text-align: center;
          width: 200px;
          right: 0;
          background-color: #ffffff;
          border-radius: 12px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          min-width: 140px;
          z-index: 1000;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

          a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: black;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 14px;
            white-space: nowrap;

            i {
              display: block !important;
              font-size: 25px;
              background-color: #ff5700;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              text-align: center;
              color: white;
            }

            &:hover {
              background-color: #ff5700;
              color: white;
            }
          }
        }
      }

      button.hamburger-btn {
        display: none;
      }

    }
  }
}

div.full-navbar nav.main-navbar {
  position: relative;
  z-index: 2;
}

// Cellulare
@media (max-width: 576px) {
  div.full-navbar {
    nav.main-navbar {
      gap: 10px;
      padding: 0px 7px;

      div.left-navbar {
        width: 100px;
      }

      div.right-navbar {
        width: auto;

        div.user-profile {
          display: none;
        }

        app-cart-badge {
          display: none;
        }

        button.hamburger-btn {
          display: block;
          font-size: 27px;
          background: none;
          border: none;
          color: white;
          cursor: pointer;
          padding: 1px 0px;
        }
      }
    }

  }
}