div.nav-container {
  background-color: #8eb055;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  div.logo-box {
    width: 200px;
    img {
      width: 100%;
    }
  }
  div.searchbar {
    width: 45%;

    form {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 17px 12px;
        border-radius: 24px;
        border: none;

        &:focus {
          outline: none;
          border: 2px solid #6f8c3f; // bordo personalizzato
          box-shadow: 0 0 4px rgba(111, 140, 63, 0.4); // leggero glow (opzionale)
        }
      }

      button {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: #7f8c8d;
        cursor: pointer;

        i {
          font-size: 24px;
          font-style: bold;
          color: #8eb055;
        }
      }
    }
  }


  div.settings-navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 20px;

    div.cart {
      i.bi-cart-fill {
        font-size: 24px;
        position: relative;

        span.cart-count {
          position: absolute;
          top: -8px;
          right: -10px;
          background-color: #537506;
          color: white;
          border-radius: 50%;
          padding: 0px 6px;
          font-size: 12px;
        }
      }
    }
    div.user-profile {
      p {
        margin-bottom: 0px;
        padding: 15px 39px;
        background-color: #537506;
        border-radius: 24px;
      }
      i {
        display: none;
        color: #ffffff;
      }
    }

    button.hamburger {
      display: none;
    }
  }
}
hr{ 
  margin: 0;
  color: white;
}

@media (max-width: 893px) {
  div.nav-container {
    position: relative;

    div.logo-box {
      width: 180px;
    }
    div.searchbar {
      width: 42%;
      form {
        input {
          padding: 12px 10px;
        }
      }
    }

    div.settings-navbar {
      gap: 20px;
      margin-right: 5px;

      div.user-profile {
        p {
          display: none;
        }
        i {
          display: block !important;
          font-size: 24px;
          background-color: #537506;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          text-align: center;
        }
      }
    }

    div.hamburger-window {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #8eb055;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      div.searchbar-mobile{
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;

        li {
          margin: 5px 0;
        }

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-size: 16px;
          display: block;
          padding: 10px 0;

          &:hover {
            background-color: #6f8c3f;
          }
        }
      }
    }
  }
}

@media (max-width: 727px) {
  div.nav-container {
    div.settings-navbar {
      button.hamburger {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
  section.lower-nav {
    display: none;
  }
}

@media (max-width: 679px) {
  div.nav-container {
    div.searchbar {
      width: 47%;
    }

    div.logo-box {
      width: 155px;
    }
  }
}

@media (max-width: 616px) {
  div.nav-container {
    div.logo-box {
      width: 205px;
    }
    div.searchbar {
      display: none;
    }
    div.hamburger-window {
      div.searchbar-mobile {
        display: block;
        width: 75%;

        form {
          position: relative;
          width: 100%;

          input {
            width: 100%;
            padding: 11px 18px;
            border-radius: 24px;
            border: none;

            &:focus {
              outline: none;
              border: 2px solid #6f8c3f; // bordo personalizzato
              box-shadow: 0 0 4px rgba(111, 140, 63, 0.4); // leggero glow (opzionale)
            }
          }

          button {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: #7f8c8d;
            cursor: pointer;

            i {
              font-size: 24px;
              font-style: bold;
              color: #8eb055;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  section.lower-nav {
    display: none;
  }
}
