<div #navbar class="full-navbar" [style.transform]="'translateY(' + offset + 'px)'">
  <nav class="main-navbar">
    <!-- LOGO -->
    <div class="left-navbar">
      <a routerLink="/home">
        <picture>
          <source media="(max-width: 576px)" srcset="assets/images/logo/logo-nobg-only-icon.png">
          <img src="assets/images/logo/logo-nobg-tagliato.png" alt="logo" />
        </picture>
      </a>
    </div>

    <app-search-bar (openAdvancedSearchModal)="openAdvancedSearchModal.emit()" />

    <!-- Contenitore del icona del profilo e carello -->
    <div class="right-navbar">

      <app-cart-badge />

      <div class="user-profile" (mouseenter)="showMenuNow(true)" (mouseleave)="hideMenuWithDelay()">
        @if (!isLogged) {
        <p class="btn" routerLink="/login">LOGIN</p>
        <i routerLink="/login" class="bi bi-person-circle person-lg"></i>
        } @if (isLogged) { @if (userEmail) {
        <div class="user-icon">
          {{ userEmail[0] | uppercase }}
        </div>
        } }

        <!-- Dropdown -->
        <div class="user-dropdown" *ngIf="showUserMenu">
          <a routerLink="/profile"><i class="bi bi-person-fill"></i> Profilo</a>
          <a (click)="logout()"> <i class="bi bi-box-arrow-right"></i>Logout</a>
        </div>
      </div>

      <!-- Pulsante hamburger -->
      <button class="hamburger-btn" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </nav>

  <app-main-categories-bar 
    [open]="showHamburgerMenu" 
    [onClose]="closeMenu" 
  />

</div>