.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardStyle {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
}