div.main-categories-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  border-top: 1px solid silver;
  
  ul.categories-list {
    display: flex;
    gap: 80px;
    padding: 8px 20px;
    margin: 0;
    justify-content: center;

    li.nav-link {
      a {
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        color: white;
        padding: 0.25rem 0;
        transition: color 0.4s ease;

        .label {
          position: relative;
          z-index: 2;
        }

        &:hover {
          color: #ff5700;

          &::after {
            width: 100%;
          }
        }

        &.active {
          color: #ff5700;

          &::after {
            width: 100%;
          }
        }

      }
    }

    button.close-menu-btn {
      display: none;
    }

  }

  // Admin control
  .admin-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background: transparent;
    border: 1px solid white;
    padding: 0.3rem 0.8rem;
    font-size: 0.7rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.15s ease;
    color: white;
  }

  .admin-toggle:hover {
    opacity: 1;
  }

  hr {
    margin: 0px;
  }

}

// MEDIA QUERIES
@media (max-width: 576px) {
  div.main-categories-container {
    justify-content: start;
    ul.categories-list {
      flex-direction: column;
      gap: 0px;
      width: 100%;
      padding: 0px 0px;

      li.nav-link {
        padding: 7px 10px;
      }

      button.close-menu-btn {
        display: block;
        background-color: #1e1e1e;
        border: none;
        padding: 6px 0;
      }

      // Per non applicare il bordo all'ultimo elemento
      li.nav-link:not(:last-child) {
        // Indeciso se mettere delle divisioni
        // border-bottom: 1px solid rgb(179, 179, 179);
      }
    }
    
  }
}