<div class="main-search-container">
  <div class="search-container">
    <span class="search-icon">
      <i class="bi bi-search text-brand"></i>
    </span>
    <input type="text" class="search-input" placeholder="Cerca prodotti..." [(ngModel)]="searchText"
      (ngModelChange)="onSearchBase()" />
    <!-- Buttone ricerca avanzata -->
    <button type="button" class="btn-brand" (click)="openAdvancedSearchModal.emit()" aria-label="Filtri avanzati">
      <i class="bi bi-sliders fs-6"></i>
    </button>
  </div>

  @if (products.length > 0 && !filtersActive) {
  <div class="position-absolute top-100 start-0 end-0 bg-white border rounded-3 shadow-lg mt-2 overflow-auto"
    style="max-height: 400px; z-index: 1050">
    @for (prod of products; track prod.productId) {
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom list-item-hover" role="button"
      (click)="goToProduct(prod.productId)" title="Clicca per visualizzare dettagli">
      <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2 flex-grow-1">
        <span class="fw-semibold text-dark fs-6 fs-md-5">{{ prod.name }}</span>
      </div>
      <img [src]="prod.thumbNailPhoto" [alt]="prod.name" class="rounded ms-3 d-none d-sm-block"
        style="width: 60px; height: 60px; object-fit: cover" />
    </div>
    }
  </div>
  }

</div>