.edit-create-page {
    display: flex;
    justify-content: center;
}

.edit-create-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1.5rem;
}

label {
    font-weight: 700;
    margin-bottom: 0.5rem;
}