<div class="address-container py-4">

  <h2 class="section-title">Manage Addresses</h2>

  <button class="btn-add mb-3" (click)="isCreating = !isCreating">
    + Add Address
  </button>

  <!-- CREATE -->
  <div *ngIf="isCreating" class="card-box mb-4">

    <div class="row">
      <div class="col-md-6">
        <input class="input-field" placeholder="Address line 1"
               [(ngModel)]="newAddress.addressLine1">

        <input class="input-field" placeholder="City"
               [(ngModel)]="newAddress.city">

        <input class="input-field" placeholder="State/Province"
               [(ngModel)]="newAddress.stateProvince">
      </div>

      <div class="col-md-6">
        <input class="input-field" placeholder="Country"
               [(ngModel)]="newAddress.countryRegion">

        <input class="input-field" placeholder="Postal Code"
               [(ngModel)]="newAddress.postalCode">

        <select class="input-field" [(ngModel)]="newAddress.addressType">
          <option>Home</option>
          <option>Billing</option>
          <option>Shipping</option>
          <option>Main Office</option>
        </select>
      </div>
    </div>

    <div class="button-group">
      <button class="btn-save" (click)="createAddress()">Save</button>
      <button class="btn-cancel" (click)="isCreating = false">Cancel</button>
    </div>
  </div>

  <!-- LIST -->
  <ul *ngIf="addresses.length > 0; else noAddresses" class="address-list">
    <li *ngFor="let a of addresses" class="address-item">

      <!-- DISPLAY -->
      <div *ngIf="isEditing !== a.addressId" class="address-row">

        <span class="address-text">
          <strong>{{ a.addressLine1 }}</strong>,
          {{ a.city }} - {{ a.postalCode }}
        </span>

        <div class="action-buttons">
          <button class="btn-small edit" (click)="startEdit(a)">Edit</button>
          <button class="btn-small delete" (click)="deleteAddress(a.addressId)">Delete</button>
        </div>
      </div>

      <!-- EDIT -->
      <div *ngIf="isEditing === a.addressId" class="card-box">

        <input class="input-field" placeholder="Address line 1"
               [(ngModel)]="editAddress.addressLine1">

        <input class="input-field" placeholder="City"
               [(ngModel)]="editAddress.city">

        <input class="input-field" placeholder="State/Province"
               [(ngModel)]="editAddress.stateProvince">

        <input class="input-field" placeholder="Country"
               [(ngModel)]="editAddress.countryRegion">

        <input class="input-field" placeholder="Postal Code"
               [(ngModel)]="editAddress.postalCode">

        <select class="input-field" [(ngModel)]="editAddress.addressType">
          <option>Home</option>
          <option>Billing</option>
          <option>Shipping</option>
          <option>Main Office</option>
        </select>

        <div class="button-group">
          <button class="btn-save small" (click)="saveEdit(a.addressId)">Save</button>
          <button class="btn-cancel small" (click)="isEditing = null">Cancel</button>
        </div>
      </div>

    </li>
  </ul>

  <ng-template #noAddresses>
    <p class="no-address">No addresses found.</p>
  </ng-template>

</div>
