<footer class="footer-container">
  <div class="footer-top">
    <div class="footer-logo-box">
      <img src="assets/images/logo/logo-nobg.png" alt="logo" />
    </div>

    <div class="footer-menu">
      <ul class="footer-submenu">
        <li>
          Informazioni
          <ul class="footer-info-list">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Supporto</a></li>
            <li><a href="#">Lavora con noi</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Termini e condizioni</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </li>
        <li>
          Contatti & Socials
          <ul class="footer-contacts-list">
            <li>
              <a href="#"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;Assistenza clienti</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-whatsapp"></i>&nbsp;&nbsp; Whatsapp</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-facebook"></i>&nbsp;&nbsp; Facebook</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i>&nbsp;&nbsp; Instagram</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-youtube"></i>&nbsp;&nbsp; YouTube</a>
            </li>
          </ul>
        </li>
        <li>
          Pagamenti e spedizioni
          <div class="footer-logo-box">
            <img class="mt-4" style="border-radius: 10px;" src="assets/images/payment3.png" alt="logo" />
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-social">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-youtube"></i>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <p>© 2025 - Tutti i diritti riservati</p>
    <p><a href="#">Privacy</a> • <a href="#">Termini</a></p>
  </div>
</footer>
