<div class="reset-password-wrapper">
    <div class="reset-password-card">

        <form class="form-group" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordBackend()">

            <h2>Reset password</h2>

            <div class="input-group-floating"
                [class.invalid]="submitted && (resetPasswordForm.get('email')?.invalid)">

                <input 
                    type="email"
                    formControlName="email"
                    id="email"
                    placeholder=" " 
                    required
                    (input)="clearErrors()"
                />

                <label for="email">Email address</label>

                @if (submitted && resetPasswordForm.get('email')?.hasError('required')) {
                    <p class="error-text">
                        Field is required
                    </p>
                }

            </div>

            <!-- INSERT NEW PASSWORD -->
            <div class="input-group-floating password-group popover-wrapper"
                [class.invalid]="submitted && (resetPasswordForm.get('password')?.invalid || passwordInvalid)"
            >

                <input 
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    id="password" 
                    placeholder=" " 
                    required
                    name="password"
                    (input)="checkPasswordRules(); clearErrors()"
                />

                <label for="password">New password</label>

                <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>

                <!-- Popover password rules -->
                <div class="password-popover" *ngIf="showPopover">
                    <p>Password must contain:</p>

                    <div class="rule" [class.valid]="ruleLetter">
                        <span>{{ ruleLetter ? '✔' : '✗' }}</span>
                        At least one letter
                    </div>

                    <div class="rule" [class.valid]="ruleNumber">
                        <span>{{ ruleNumber ? '✔' : '✗' }}</span>
                        At least one number
                    </div>

                    <div class="rule" [class.valid]="ruleLength">
                        <span>{{ ruleLength ? '✔' : '✗' }}</span>
                        Minimum 8 characters
                    </div>
                </div>

                @if (submitted && resetPasswordForm.get('password')?.hasError('required')) {
                    <p class="error-text">
                        Field is required
                    </p>
                } @else if (submitted && this.passwordInvalid) {
                    <p class="error-text">
                        Invalid password
                    </p>
                }

            </div>

            <!-- RETYPE OR CONFIRM NEW PASSWORD -->
            <div class="input-group-floating password-group"
                [class.invalid]="submitted && (resetPasswordForm.get('confirmPassword')?.invalid || passwordMismatch)"
            >

                <input 
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    placeholder=" "
                    required
                    name="confirmPassword"
                    (input)="clearErrors()"
                />

                <label for="confirmPassword">Confirm password</label>

                <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>

                @if (submitted && resetPasswordForm.get('confirmPassword')?.hasError('required')) {
                    <p class="error-text">
                        Field is required
                    </p>
                } @else if(submitted && this.passwordMismatch) {
                    <p class="error-text">
                        Password doesn't match
                    </p>
                }

            </div>

            <button type="submit" class="btn btn-primary rounded-pill confirm-btn">Conferma</button>

        </form>

    </div>
</div>